/*[BEGIN] Remove browser default style - http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/*[END] Remove browser default style*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
      body {background:#ccc;}
      h1,h2,h3,h4,h5,h6 {font-weight:bold; clear:both;}
	  h2 {border-bottom:2px dashed #ccc; line-height:2em; margin-bottom:1em; text-transform: uppercase;}
	  em {font-weight:bold;}
	  em.warning {text-transform: capitalize;}
	  div.interface {clear:both; width:50%; margin:0 auto 1em; padding:1em; border:1px solid #000; background:#efefef;}
	  div.interface table {width:100%; padding:1em;}
	  div.interface table th, div.interface table td{padding:0.25em;}
	  div.interface label {text-transform: capitalize;}
	  ul#interface_navi {width:100%; margin:0 auto 0;}
	  ul#interface_navi li {width:50%; float:left; text-align:center; height:15px; line-height:15px;}
	  ul#interface_navi a {display:block;}
	  div#ui {clear:both;}
	  div#account_menu {top:0; background:url('i/info_bg.jpg') right no-repeat #ccc; border-bottom:1px solid #000; color:#111; font-weight:bold; text-align:right;}
	  ul#warnings {width:50%; clear:both; margin:1em auto 1em; padding:1em; background:#ffff00; border:1px solid #000;}
	  div#progress {clear:both; width:100%; margin:1em 0 1em; text-align:center; padding:1em; background:#efefef;}
	  .required {border:3px groove #ff4500; background:#ffff00;}
	  ol.progress {width:50%; margin:0 auto 0; height:2em;}
	  ol.progress li {float:left; line-height:2em;}
	  span.invalid {padding:0 1em 0;color:#ffaa00; font-size:8pt;}